<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IVA-Fly</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" id="home" href="./home.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="features" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="online" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="discord" href="#">Discord</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="welcome" href='#'>Account</a>
      </li>
    </ul>
    </li>
  </div>
</nav>

<script>
  require('electron');
  $('#welcome').html(lang(preferencie.lang).sentences['account'])
  $("#welcome").on('click', () => {
    ipcRenderer.send("welcome")
  })
  $('#discord').on('click', () => {
    ipcRenderer.send('discord')
  })
  $('#online').hide()
  require("bootstrap")
</script>